/node_modules
/build
/dist
/project
/dataset/*
!/dataset/dataset_matematika_1000.json
!/dataset/math_vocab.json
!/dataset/data.ts
/experiments/log/

# Build artifacts
**/dist/
**/build/
**/target/
**/node_modules/
*.node

# Project specific
.agents
test.txt
tast.txt
.codex
.vscode/
/experiments/
/project/
